* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
    font-family: system-ui, Roboto, sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    background: #e0e0e0;
}

header {
    box-shadow: 0 5px 5px #9d9d9d;
    padding: 1rem;
}

.add-btn-container {
    margin-top: 1rem;
}

.add-btn-container button {
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    background: #ffffff;
}

.add-btn-container button:hover {
    background: #f3f3f3;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-template-rows: 20rem;
    grid-auto-rows: 20rem;
    gap: 2rem;
    flex-grow: 1;
    padding: 1rem 4rem;
    padding-bottom: 2rem;
}

.cards-container .card {
    background: #ffffff;
    border-radius: 0.5rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
}

.card .book-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.card .card-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.card-btns button {
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
}

.card-btns button:hover {
    background: #e7e7e7;
}

.add-btn-container {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

dialog {
    border-radius: 0.5rem;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
}

::backdrop {
    background: #a9a9a9;
    opacity: 0.5;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

form div:last-child {
    justify-content: center;
}